/* header {
  display: inline-block;
  width: 100%;
  padding: 25px 80px;
  background-color: blue;
  position: relative;
}

.title {
  float: left;
}

nav {
  float: right;
}

nav ul li {
  display: inline-block;
  padding: 15px 25px;
}

nav ul li a {
  text-decoration: none;
  display: inline block;
  color: #fff;
  font-weight: 600;
}

.toggle-btn {
  width: 35px;
  position: absolute;
  right: 80px;
  top: 40px;
  display: none;
}

.toggle-btn span {
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #000;
  float:left;
  margin-bottom: 8px;
}

@media (max-width: 991px) {
  .toggle-btn {
    display: block;
  }

  nav {
    display: none;
    width: 100%;
    border-top: 1px solid #000;
    padding-top: 20px;
    margin-top: 30px;
  }

  nav ul li {
    padding: 15px 0px;
    width: 100%
  }

  nav.show {
    display: block;
  }
} */

header * {
  color: #fff;
}

header {
  height: 66px;
  background-color: #008489;
}

header .logo {
  float: left;
  height: inherit;
  margin-left: 2em;
}

header .logo-text {
  margin: 9px;
  font-family: 'Candal', serif;
  font-size: 40px;
}

header .logo-text span {
  color: #05f7ff;
}

header .menu-toggle {
  cursor: pointer;
  display: none;
}

header ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header ul li {
  float: left;
  position: relative;
  z-index: 1;
}

header ul li a {
  display: block;
  padding: 21px;
  font-size: 1.1em;
  text-decoration: none;
}

header ul li a:hover {
  background-color: #006669;
  transition: 0.5s;
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  header {
    position: relative;
  }

  #nav {
    width: 100%;
    background-color: #0E94A0;
    max-height: 0;
    display: none;
  }

  #nav a {
    background-color: #0E94A0;
  }

  #nav a:hover {
    background-color: #006669;
    transition: 0.5s;
  }

  header ul li {
    width: 100%;
  }

  header .menu-toggle {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.9em;
  }

  header .logo {
    margin-left: .8em;
  }

  #nav.show {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  header {
    position: relative;
  }

  #nav {
    width: 100%;
    background-color: #0E94A0;
    max-height: 0;
    /* overflow: hidden; */
    display: none;
  }

  #nav a {
    background-color: #0E94A0;
  }

  #nav a:hover {
    background-color: #006669;
    transition: 0.5s;
  }

  header ul li {
    width: 100%;
  }

  header .menu-toggle {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.9em;
  }
  
  header .logo {
    margin-left: .8em;
  }

  #nav.show {
    display: block;
  }
}


