.NavBar {
    background-color: #0E94A0;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 999;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo-text {
    font-family: 'Candal', serif;
    font-size: 40px;
}
  
header .logo-text span {
    color: #05f7ff;
}

.NavBar nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.NavBar nav ul li {
    display: inline-block;
    margin: 20px;
}

.NavBar nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: 20px;
}

.user{
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: 20px;
}

.NavBar nav ul .groups{
    display: none;
}

.NavBar nav ul li a:hover {
    border-bottom: 5px solid rgb(216, 58, 216);
}

.mobile-navigation {
    display: none;
}

@media (max-width: 880px) {
    .navigation {
        display: none;
    }

    .mobile-navigation {
        display: flex;
        align-items: center;
    }

    .hamburger {
        position: absolute;
        right: 5%;
        cursor: pointer;
    }

    .NavBar nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        background: #0E94A0;
        border-top: 2px solid rgb(216, 58, 216);
    }

    .NavBar nav ul li {
        padding-left: 15%;
    }

    .NavBar nav ul .groups{
        text-decoration: none;
        color: white;
        font-weight: 900;
        font-size: 20px;
    }

    .groups:hover{
        border-bottom: none;
        color: rgb(216, 58, 216);
    }

    .NavBar {
        opacity: 1;
    }

    .NavBar nav ul li a:hover {
        border-bottom: none;
        color: rgb(216, 58, 216);
    }
}