.mainPage-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0;
}

.groupList {
  border: 1px solid black;
  width: 20%;
  margin: 20px;
}

.postsList {
  width: 60%;
  margin-top: 20px;
  background-color: rgb(146, 141, 141);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.friendList {
  border: 1px solid black;
  width: 20%;
  margin: 20px;
}

.post {
  background-color: #fff;
}

@media (min-width: 481px) and (max-width: 767px) {
  .friendList, .groupList {
    display: none;
  }

  .postsList {
    width: 80%;
  }

  .mainPage-container {
    /* margin: 0 -50px; */
  }
}

@media (max-width: 480px) {
  .friendList, .groupList {
    display: none;
  }

  .postsList {
    width: 80%;
  }

  .mainPage-container {
    margin: 0 -20px;
  }
}
