.mainPage-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0;
}

.groupList {
  width: 20%;
  margin: 20px;
}

.postsList {
  width: 60%;
  margin-top: 30px;
  /* background-color: rgb(146, 141, 141); */
}

.friendList {
  width: 20%;
  margin: 20px;
  box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
  height: 50em;
  border-radius: 15px;
}

.post {
  background-color: #fff;
}

.group-view-modal {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.group-view-modal-btn {
  height: 60px;
  width: 220px;
  font-size: 25px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  background-color: #00bdc4;
  box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

.postForm {
  margin-bottom: 20px;
}

@media (min-width: 481px) and (max-width: 767px) {
  .friendList, .groupList {
    display: none;
  }

  .postsList {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .friendList, .groupList {
    display: none;
  }

  .postsList {
    width: 80%;
  }

  .mainPage-container {
    margin: 0 -20px;
  }
}

