.group-page-container {
  margin: 0 auto;
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding-top: 100px;
}

.group-page-detail {
  width: 70%;
  height: 100%;
  display: flex;
  margin-right: 10px;
  flex-direction: column;
}

.group-page-owner {
  margin-bottom: 20px;
  height: 20%;
}

.group-page-members {
  width: 30%;
  height: 100%;
  margin-left: 15px;
  box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
  padding: 15px;
}

