/* .container{
  border: solid 1px black;
}

.usersList{
  height: 82vh;
  overflow-y: auto;
}

.toLeft{
  width: 68%; 
  float: left;
}

.toRight{
  width: 28%;
  float: right;
}

.info{
  float: left;
  width: 70%;
}

.form{
  height: 160px;
  float: right;
  width: 30%;
  border: solid 1px black;
}

.buttons{
  display: flex;
  float: left;
  width: 70%;
  justify-content: space-between;
  padding: 5px;
} */

.group-page-container {
  border: 1px solid red;
  margin: 0 auto;
  margin-top: 20px;
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.group-page-detail {
  border: 1px solid blue;
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.group-page-owner {
  margin-bottom: 20px;
  height: 20%;
}

.group-page-members {
  border: 1px solid green;
  width: 30%;
  height: 100vh;
}

