.groupview-container {
}

.group-add {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-icon {
    font-size: 20px;
    cursor: pointer;
}

.group-card {
    margin-top: 20px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #00969b, #2ff0f7);
    padding: 10px;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

.group-card a {
    text-decoration: none;
    color: rgb(70, 68, 68);
}

.group-vote-main {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.group-vote {
    margin-left: 5px;
}

.group-vote-main span {
    font-weight: 900;
}

.group-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}