/* body {
    background-color: red;
    background-image:
    linear-gradient(
        to right, 
        red, #f06d06
    );
} */

.signup-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(243, 242, 242);
    min-width: 450px;
    min-height: 500px;
    border-radius: 30px;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-text {
    margin: 20px
}

.signup-fullname {
    min-width: 0;
}

.signup-fullname input {
    height: 40px;
    width: 300px;
    overflow: hidden;
    border-radius: 40px;
    border: none;
    margin: 15px 0;
    padding-left: 50px;
    outline: none;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
        overflow: hidden;
}
.signup-email input {
    height: 40px;
    width: 300px;
    border-radius: 40px;
    border: none;
    margin: 15px 0;
    padding-left: 50px;
    outline: none;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}
.signup-username input {
    height: 40px;
    width: 300px;
    border-radius: 40px;
    border: none;
    margin: 15px 0;
    padding-left: 50px;
    outline: none;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}
.signup-password input {
    height: 40px;
    width: 300px;
    border-radius: 40px;
    border: none;
    margin: 15px 0;
    padding-left: 50px;
    outline: none;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

.signup-fullname, .signup-email, .signup-username, .signup-password {
    position: relative;
}

.icon-user-signup {
    position: absolute;
    font-size: 24px;
    left: 15px;
    top: calc(50% - 0.5em);
    color: rgb(229, 229, 236);
    text-shadow: -7px 8px 2px #c54040, -3px 5px #c74b16;
}

.signup-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-btn button {
    margin-top: 20px;
    height: 40px;
    width: 180px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    background-color: rgb(21, 58, 180);
    background-image:
    linear-gradient(
        to right, 
        rgb(118, 147, 243), #3312ec
    );
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
        color: #fff;
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .signup-container {
        width: 60%;
        height: 60%;
        margin-top: 30px;
    }

    .signup-fullname, .signup-email, .signup-username, .signup-password {
        min-width: 300px;
    }
}

@media screen and (max-width: 480px) {
    .signup-container {
        margin-top: 50px;
        min-width: 300px;
        min-height: 450px;
    }

    .signup-fullname input, .signup-email input, .signup-username input, .signup-password input {
        width: 250px;
    }
}