.form-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 200px;
    border: 1px solid #eaeaea;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 1px 2px 1px rgba(130, 130, 130, 0.1)
}

.form-title {
    background-color: #eaeaea;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    height: 26%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

.form-title label {
    margin: 0 10px;
}

.form-title input {
    border: none;
    width: 40%;
    height: 25px;
    border-radius: 5px;
    padding: 5px;
    outline: none;
}

.form-title input::placeholder {
    padding-left: 10px;
    font-weight: 200;
}

.form-post-body {
    height: 105px;
}

.form-post-body textarea {
    outline: none;
    border: none;
    width: 100%;
    height: 105px;
    padding: 5px;
    resize: none;
    margin: 0px;
}

.form-btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #eaeaea;
    height: 45px;
    align-items: center;
    padding: 20px;
}

.private-option input {
    margin: 5px;
}

.form-submit-btn {
    display: inline-block;
    width: 38%;
    text-align: right;
}

.form-submit-btn-action {
    width: 80px;
    height: 30px;
    background-color: #008391;
    color: #fff;
    border-radius: 1.5em;
}