.form-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

.form-title {
    background-color: #eaeaea;
    width: 100%;
    height: 26%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

.form-title label {
    margin: 0 10px;
}

.form-title input {
    border: none;
    width: 40%;
    height: 25px;
    border-radius: 5px;
    padding: 5px;
    outline: none;
}

.form-title input::placeholder {
    padding-left: 10px;
    font-weight: 200;
}

.form-post-body {
    height: 105px;
}

.form-post-body textarea {
    outline: none;
    border: none;
    width: 100%;
    height: 105px;
    padding: 5px;
    resize: none;
    margin: 0px;
}

.form-btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #eaeaea;
    height: 45px;
    align-items: center;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.private-option input {
    margin: 5px;
}

.form-submit-btn {
    display: inline-block;
    width: 38%;
    text-align: right;
}

.form-submit-btn-action {
    width: 80px;
    height: 30px;
    background-color: #008391;
    color: #fff;
    border-radius: 1.5em;
}