.main-post-wrapper {
    border: 1px solid black;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: column;
    background-color: #fff;
    padding: 0;
    border: none;
}

.post-detail {
    width: 100%;
    margin-top: 10px;
}

.post-control {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userName {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    /* border-bottom: 1px solid cadetblue; */
}

.control-group {
    display: flex;
    flex-direction: row;
}

.svg-icons {
    margin-left: 15px;
}

.post-body {
    height: auto;
    margin-top: 15px;
}

.post-vote {
    width: 100%;
    height: 45px;
    margin-top: 15px;
    /* border-top: 1px solid cadetblue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.votes {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.thumbs-down {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.thumbs-down-icon {
    margin-right: 5px;
    margin-top: 10px;
    margin-left: 10px;
}

.user-icon {
    color: black;
}

.trash-icon {
    color: red;
}
