.group-owner-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.owner-info {
    width: 50%;
    height: 160px;
    margin-right: 5px;
    border-radius: 10px;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    padding: 10px;
    background-color: #0E94A0;
    background-image: linear-gradient(to right, #0E94A0, #91ecf5);
}

.group-description {
    width: 50%;
    margin-left: 5px;
    border-radius: 10px;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    padding: 10px;
    background-color: #0E94A0;
    background-image: linear-gradient(to right, #0E94A0, #91ecf5);

}

.group-vote-btn {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.group-vote-button {
    display: flex;
    flex-direction: row;
}

.thumbs-up-button, .thumbs-down {
    cursor: pointer;
}

.thumbs-up-button {
    margin-top: 11px;
}

.group-button-join {
    box-sizing: border-box;
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 10px;
    font-weight: 400;
    line-height: 1;
    margin-left: 70px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.group-button-join, .group-button-join:focus {
    color: #fff;
    outline: 0;
}

.group-button-join:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
    color: black;
}

.description-view {
    height: 80px;
    word-wrap: break-word;
}

.group-button-description button {
    float: right;
}

.group-button-description button {
    box-sizing: border-box;
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 10px;
    font-weight: 400;
    line-height: 1;
    /* margin-left: 70px; */
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.group-button-description button, .group-button-description button:focus {
    color: #fff;
    outline: 0;
}

.group-button-description button:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
    color: black;
}

.group-button-disband {
    box-sizing: border-box;
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 10px;
    font-weight: 400;
    line-height: 1;
    margin-left: 70px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-color: #e74c3c;
    color: #fff;
    box-shadow: 0 0 40px 40px #e74c3c inset, 0 0 0 0 #e74c3c;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.group-button-disband, .group-button-disband:focus {
    color: #fff;
    outline: 0;
}

.group-button-disband:hover {
    box-shadow: 0 0 10px 0 #e74c3c, 0 0 10px 4px #e74c3c;
    color: black;
}

.group-button-leave {
    box-sizing: border-box;
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 10px;
    font-weight: 400;
    line-height: 1;
    margin-left: 70px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-color: #e74c3c;
    color: #fff;
    box-shadow: 0 0 40px 40px #e74c3c inset, 0 0 0 0 #e74c3c;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.group-button-leave, .group-button-leave:focus {
    color: #fff;
    outline: 0;
}

.group-button-leave:hover {
    box-shadow: 0 0 10px 0 #e74c3c inset, 0 0 10px 4px #e74c3c;
    color: black;
}
