.group-owner-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.owner-info {
    width: 50%;
    margin-right: 5px;
    border-radius: 10px;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    padding: 10px;
    background-color: #0E94A0;
    background-image: linear-gradient(to right, #0E94A0, #91ecf5);
}

.group-description {
    width: 50%;
    margin-left: 5px;
    border-radius: 10px;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    padding: 10px;
    background-color: #0E94A0;
    background-image: linear-gradient(to right, #0E94A0, #91ecf5);

}